.viz-map-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 170px;
  top: 0;
  height: auto;
  width: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  border-bottom: 1px solid #666666;
}

.viz-speck-chart-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 170px;
  width: auto;
  overflow-x: auto;
  overflow-y: hidden;
}

.viz-health-chart-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 170px;
  width: auto;
  overflow-x: auto;
  overflow-y: hidden;
}

.viz-slideshow-outer-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: auto;
  width: auto;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  overflow-y: auto;
  border-bottom: 1px solid transparent;
}

.viz-slideshow-inner-container {
  width: 800px;
  z-index: 9;
  border: 1px solid #000000;
}

.viz-slideshow-close {
  display: inline-block;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 11;
  width: 45px;
  height: 45px;
  border-radius: 24px;
  border: 2px solid white;
  background-image: url(../img/close.png);
  background-size: 17px 17px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
}

.viz-speck-color-scale-legend-container {
  position: absolute;
  width: 40px;
  height: 150px;
  border: 1px solid #666666;
  right: 10px;
  z-index: 1;
  bottom: 190px;
}

.viz-health-color-scale-legend-container {
  position: absolute;
  width: 40px;
  height: 150px;
  border: 1px solid #666666;
  right: 10px;
  z-index: 1;
  bottom: 190px;
}

a {
  color: inherit;
}

.cell-pad {
  text-align: left;
  padding-bottom: 2px;
  padding-top: 2px;
  padding-right: 10px;
  padding-left: 0;
}

.sensor-data-btn {
  position: absolute;
  left: 65px;
  top: 10px;
  width: auto !important;
  padding-left: 16px;
  padding-right: 16px;
}

.health-data-btn {
  position: absolute;
  left: 160px;
  top: 10px;
  width: auto !important;
  padding-left: 16px;
  padding-right: 16px;
}

.home-btn {
  position: absolute;
  left: 10px;
  top: 10px;
  background-image: url(../img/home.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.terrain-btn {
  position: absolute;
  left: 10px;
  top: 120px;
  background-image: url(../img/terrain.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.custom-button {
  background-color: white;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  outline: none;
  border: 1px solid #777777;
  width: 45px;
  height: 45px;
  border-radius: 23px;
  cursor: pointer;
  opacity: 0.8;
  z-index: 1;
  font-size: 23px;
  line-height: 45px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

.custom-button:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  background-color: white;
}

.custom-button:active {
  background-color: rgb(210, 210, 210);
}

.sensor-button-selected {
  background-color: #ff003b;
  color: white;
  opacity: 0.7;
  border: 1px solid #161616;
}

.health-button-selected {
  background-color: #0084ff;
  color: white;
  opacity: 0.7;
  border: 1px solid #161616;
}

.info-window-content {
  max-height: 178px;
  overflow-y: auto !important;
}

.gm-style-iw {
  margin-top: 2px;
  margin-bottom: 5px;
}

.gm-style-iw table {
  font-family: sans-serif;
  font-size: 12px;
}

.gm-style-iw h4 {
  margin: 0 0 8px -1px;
  padding: 0;
  font-size: 12px;
  font-weight: normal;
}

.gm-style-iw .large-text {
  font-size: 18px;
}

.text-highlight {
  font-weight: bold;
}